<mat-list>
  <mat-card>
    <mat-card-header>
      <mat-card-title>What am build to do</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      A tool and market place for maintaining and sharing good quality and standardized templates. It can be used for any thing
      that you can imagine.
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>How to get Sample templates</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>Clone from <b>https://github.com/Code-Book/sample-tamplates</b></li>
        or
        <li>Download from <a matTooltip="https://github.com/Code-Book/sample-tamplates/archive/master.zip" href="https://github.com/Code-Book/sample-tamplates/archive/master.zip">here</a>
          and UnZip</li>
        <li>Go to <b>Settings</b> and set template path</li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>How to use me</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>Select one of the template, by clicking <b>Generate</b></li>
        <li>Provide all the parameters</li>
        <li>Click on <b>Generate</b></li>
      </ul>
    </mat-card-content>
  </mat-card>


</mat-list>

<div class="about-footer" fxLayout="row" fxLayoutAlign="space-evenly center">
  <button mat-flat-button color="accent" [routerLink]="['']">Back</button>
</div>