::ng-deep .mat-card-header-text{
    .mat-card-title{
        font-size: medium;
        font-weight: 500;
    }
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto !important;
}


::ng-deep  .mat-grid-tile .mat-figure{
    display: unset !important;
    margin: 20px !important;
}

.template-item{
    padding: 12px; 
    height: calc(100% - 28px);
    border-radius: 8px;
}

::ng-deep mat-card-content{
    margin-top: 6px;
}