.main-container{
    padding: unset;
}

.dark-theme{
    router-outlet{
        background-color: black;
    }
}

.light-theme{
    router-outlet{
        background-color: white;
    }
}

.main-toolbar{
    padding-top: 4px;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}