<div class="main-container" [ngClass]="settingsAppTheme | async">
    <mat-toolbar color="primary" class="main-toolbar">
        <mat-toolbar-row>
            <span>CodeBook</span>
            <span class="equal-spacer"></span>

            <button mat-icon-button color="accent">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button color="accent" [matMenuTriggerFor]="theme_menu">
                <mat-icon>colorize</mat-icon>
            </button>


        </mat-toolbar-row>
    </mat-toolbar>

    <mat-menu #theme_menu="matMenu">
        <button mat-menu-item (click)="setTheme('dark-theme')">Dark Theme</button>
        <button mat-menu-item (click)="setTheme('light-theme')">Light Theme</button>
    </mat-menu>

    <router-outlet></router-outlet>

</div>