<div class="main-container" [ngClass]="settingsAppTheme | async">
    <mat-toolbar color="primary" class="main-toolbar">
        <mat-toolbar-row>
            <span id="mainTitle">CodeBook</span>
            <span class="equal-spacer"></span>

            <button id="mainIconSettings" mat-mini-fab color="accent" [matMenuTriggerFor]="settingMenu">
                <mat-icon>settings</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>



    <div class="primaryColorBG">
        <router-outlet></router-outlet>
    </div>

</div>

<mat-menu #settingMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="themeMenu">Theme</button>
    <button mat-menu-item [routerLink]="['settings']">More Settings</button>
</mat-menu>

<mat-menu #themeMenu="matMenu">
    <button mat-menu-item *ngFor="let theme of themes" (click)="setTheme(theme.class)">{{theme.name}}</button>
</mat-menu>