.main-container{
    padding: unset;
}

.dark-theme{
    router-outlet{
        background-color: black;
    }
}

.light-theme{
    router-outlet{
        background-color: white;
    }
}

.main-toolbar{
    padding-top: 4px;
}