<div class="main-container" [ngClass]="settingsAppTheme | async">
    <mat-toolbar color="primary" class="main-toolbar">
        <mat-toolbar-row>
            <span id="mainTitle">CodeBook</span>
            <span class="equal-spacer"></span>

            <button class="toolbar-button" [disabled]="!(showSearchOption | async)" mat-icon-button color="accent"
                (click)="toggleSearch()" matTooltip="Search">
                <mat-icon>search</mat-icon>
            </button>

            <button class="toolbar-button" mat-icon-button color="accent" [routerLink]="['about']" matTooltip="About">
                <mat-icon>help</mat-icon>
            </button>

            <button class="toolbar-button" mat-icon-button color="accent" [routerLink]="['feedback']" matTooltip="Feedback">
                <mat-icon>feedback</mat-icon>
            </button>

            <button class="toolbar-button" id="mainIconSettings" matTooltip="Settings" mat-icon-button color="accent"
                [matMenuTriggerFor]="settingMenu">
                <mat-icon>settings</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="primaryColorBG">
        <router-outlet></router-outlet>
    </div>

</div>

<mat-menu #settingMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="themeMenu">Theme</button>
    <button mat-menu-item [routerLink]="['settings']">Settings</button>
    <button mat-menu-item [routerLink]="['feedback']">Feedback</button>
    <button mat-menu-item [routerLink]="['about']">About</button>
</mat-menu>

<mat-menu #themeMenu="matMenu">
    <button mat-menu-item *ngFor="let theme of themes" (click)="setTheme(theme.class)">{{theme.name}}</button>
</mat-menu>