@import './platelets';

$dark-primary: mat-palette($md-black);
$dark-accent:  mat-palette($md-white);
$dark-warn:    mat-palette($md-red);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
  @include angular-material-theme($dark-theme);
}