@import '~@angular/material/theming';
@include mat-core();

@mixin update-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    $mainToolBarHeight : 56px;
    $mainToolBarTopPadding : 4px;

    .main-toolbar{
        padding-top: $mainToolBarTopPadding;
        height: $mainToolBarHeight;
        position: sticky;
        position: -webkit-sticky; /* For macOS/iOS Safari */
        top: 0; /* Sets the sticky toolbar to be on top */
        z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
    }

    .colorBG{
        min-height: calc(100vh - (#{$mainToolBarHeight} - #{$mainToolBarTopPadding}));
        padding: 8px;
    }

    .primaryColorBG {
        @extend .colorBG;
      background-color: mat-color($primary);
    }

    .accentColorBG {
        @extend .colorBG;
      background-color: mat-color($accent);
    }
    .warnColorBG {
        @extend .colorBG;
      background-color: mat-color($warn);
    }

    .primaryColorMatCard{
        $is-dark-theme: map-get($theme, is-dark);
        background: if($is-dark-theme, map-get($mat-grey, 50), map-get($mat-grey, 200))  !important;
        color: $dark-primary-text !important;
    }

    .mat-input-element {
        $is-dark-theme: map-get($theme, is-dark);
        color: if($is-dark-theme, $light-primary-text, $dark-primary-text)  !important;
        caret-color: if($is-dark-theme, $light-primary-text, $dark-primary-text)  !important;
      }

    .text-on-primary-bg{
        $is-dark-theme: map-get($theme, is-dark);
        color: if($is-dark-theme, $light-primary-text, $dark-primary-text)  !important;
    }

    .generate-code-header{
        position: fixed;
        left: 0;
        top: calc(#{$mainToolBarHeight} + #{$mainToolBarTopPadding} + 10);
        width: 100%;
    }

    @include angular-material-theme($theme);
  }

.light-theme {
    $custom-primary: mat-palette($mat-grey, 50);
    $custom-accent: mat-palette($mat-blue-grey, 800);

    $custom-theme: mat-light-theme($custom-primary, $custom-accent);

    @include update-theme($custom-theme);
}

.dark-theme {
    $custom-primary: mat-palette($mat-grey, 900);
    $custom-accent: mat-palette($mat-blue-grey, 600);

    $custom-theme: mat-dark-theme($custom-primary, $custom-accent);

    @include update-theme($custom-theme);
}

.red-theme {
    $custom-primary: mat-palette($mat-red, 900);
    $custom-accent: mat-palette($mat-blue-grey, 800);

    $custom-theme: mat-dark-theme($custom-primary, $custom-accent);

    @include update-theme($custom-theme);
}