.generate-code-footer{
    position: fixed;
    left: 0;
    bottom: 16px;
    width: 100%;
}

::ng-deep .mat-card-header-text{
    .mat-card-title{
        font-size: large;
    }
    margin: auto !important;
}

mat-card{
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 65px;
}

.template-parameter{
    mat-form-field{
        width: 100%;
    }
    mat-checkbox{
        width: 100%;
    }
    margin-top: 16px;
}
