<mat-card class="primaryColorMatCard">

  <mat-card-header>
    <mat-card-title class="text-on-primary-bg">{{template?.name}}</mat-card-title>
    <mat-card-subtitle>{{template?.description?.short}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <mat-list fxLayout="column" fxLayoutAlign="space-between">
      <div *ngFor="let item of template?.parameters" class="template-parameter">

        <mat-form-field *ngIf="item.type === 'input'" appearance="outline" color="accent">
          <mat-label>{{item.title || item.name}}</mat-label>
          <input matInput [(ngModel)]="parameterModel[item.name]" [required]="item.required">
          <mat-hint>{{item.message}}</mat-hint>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="parameterModel[item.name]" *ngIf="item.type === 'checkbox'">{{item.title || item.name}}</mat-checkbox>

        <mat-form-field *ngIf="item.type === 'default'" appearance="outline" color="accent">
          <mat-label>{{item.title || item.name}}</mat-label>
          <textarea matInput [(ngModel)]="parameterModel[item.name]" [required]="item.required"></textarea>
          <mat-hint>{{item.message}}</mat-hint>
        </mat-form-field>

      </div>
    </mat-list>

  </mat-card-content>

</mat-card>

<div class="generate-code-footer" fxLayout="row" fxLayoutAlign="space-evenly center">
  <button mat-flat-button color="accent" [routerLink]="['']">Cancel</button>
  <button mat-flat-button color="accent" (click)="onGenerate()">Generate</button>
</div>